### Result
Old has all the columns in new, but new has 134 more source_ids compared to old.

In [1]:
import pandas as pd
import numpy as np

In [2]:
new = pd.read_csv('../data/source_ids_new.csv')
old = pd.read_csv('../data/source_ids_old.csv')

In [14]:
# indicator = True creates a _merge column in the joined df that indicates if a row was 'right_only', 'left_only', or 'both'
# the left df is old, and the right df is new
merged = old.merge(new, how = 'outer', left_on = 'source_id', right_on = 'source_id', indicator = True)

In [16]:
# 134 source_ids that are only in new
merged[merged['_merge'] == 'right_only']

                    source_id      _merge
14313005  1100619733635228928  right_only
14313006   485160399109566976  right_only
14313007  2857927386866739456  right_only
14313008   613473784028126336  right_only
14313009  2873391468155959808  right_only
...                       ...         ...
14313134  6043135538009715712  right_only
14313135  5645704312686985088  right_only
14313136  4090029392427624960  right_only
14313137  4090048603879923840  right_only
14313138  5370323688413033344  right_only

[134 rows x 2 columns]

In [21]:
# but all source_ids in old are present in new
merged[merged['_merge'] == 'left_only']

Empty DataFrame
Columns: [source_id, _merge]
Index: []

In [24]:
# to confirm, there are no rows in old_inner df's n_merge column that isn't 'both'
inner = old.merge(new, how = 'inner', left_on = 'source_id', right_on = 'source_id')
old_inner = old.merge(inner, how = 'outer', indicator=True)
old_inner[old_inner['_merge'] != 'both']

Empty DataFrame
Columns: [source_id, _merge]
Index: []

In [25]:
# inner and old's source_ids column are identical
sum(inner['source_id'] == old['source_id']) == old.shape[0]

True

In [29]:
# saving to csv
merged[merged['_merge'] == 'right_only']['source_id'].to_csv('../data/new_only.csv', index = False)